<div class="banner-home">
    <div class="header-home">
        <h1>Rails Yelp CopyCat</h1>
        <p>The fastest way to satisfy your hunger</p>
        <%= link_to "Discover", restaurants_path, class: "btn btn-primary" %>
    </div>
</div>